@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Inria Sans', sans-serif;
}

body {
  margin: 0 auto;
  max-width: 638px;
  height: 100vh;
  border-left: 1px solid #3264a7;
  border-right: 1px solid #3264a7;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 20px 0;
  background-color: #3264a7;
  text-align: center;
}

.header p {
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
}

@media (orientation: landscape) and (min-width: 532px) {
  .header {
    height: 30px;
  }
  .header p {
    font-size: 1.6rem;
  }
}

@media (orientation: landscape) and (min-width: 637px) {
  .header {
    height: 40px;
  }
  .header p {
    font-size: 1.8rem;
  }
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 15px;
  text-align: center;
}

.heading .userH1, .heading .cpuH1, .heading .playButton {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.heading .userH1 h1, .heading .cpuH1 h1, .heading .playButton h1 {
  padding-bottom: 20px;
  color: #000;
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.gameArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.userChoice {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  text-align: center;
}

.userChoice h1 {
  padding-bottom: 20px;
  color: #000;
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.userChoice i {
  padding: 5px;
}

.paper, .rock, .scisors {
  margin: 15px auto;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  color: #000;
}

.paper:hover, .rock:hover, .scisors:hover {
  color: #ccc;
}

.play {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.play button {
  padding: 10px 0;
  width: 90%;
  max-width: 200px;
  background-color: #76a1bd;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000;
  border: 1px solid #000;
  -webkit-transition: .4s;
  transition: .4s;
}

.play button:hover {
  color: #fff;
  border-color: #fff;
  letter-spacing: 3px;
  cursor: pointer;
}

.cpuChoice {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.cpuChoice h1 {
  padding-bottom: 20px;
  color: #000;
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.cpuRandom {
  margin: 15px auto;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  color: #000;
}

.cpuRandom i {
  padding: 5px;
}

.cpuRandom:hover {
  color: #ccc;
}

.activeOptions {
  -webkit-box-shadow: 0 0 3px 3px #0092f3;
          box-shadow: 0 0 3px 3px #0092f3;
}

@media (orientation: landscape) and (min-width: 532px) {
  .heading {
    padding-top: 5px;
  }
  .heading .userH1 h1, .heading .cpuH1 h1, .heading .playButton h1 {
    padding-bottom: 10px;
    font-size: 1.6rem;
  }
  .paper, .rock, .scisors, .cpuRandom {
    margin: 5px auto;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 15px;
  }
  .play button {
    padding: 5px 0;
    font-size: 1.6rem;
  }
}

@media (orientation: landscape) and (min-width: 637px) {
  .heading {
    padding-top: 10px;
  }
  .heading .userH1 h1, .heading .cpuH1 h1, .heading .playButton h1 {
    padding-bottom: 15px;
    font-size: 2rem;
  }
  .paper, .rock, .scisors, .cpuRandom {
    margin: 10px auto;
    line-height: 40px;
    font-size: 20px;
  }
  .play button {
    padding: 10px 0;
    font-size: 2rem;
  }
}

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 15px;
}

.scoreboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.scoreboard div:nth-child(1) {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-top: 5px;
  padding: 5px 0;
  color: #000;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: #d2f2fab0;
}

.scoreboard div:nth-child(2) {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-top: 5px;
  padding: 5px 0;
  color: #000;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: #d2f2fab0;
}

.scoreboard div:nth-child(3) {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin: 3px 0 15px 0;
  padding: 10px 0;
  color: #3264a7;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  background-color: #aaa9a952;
}

.scoreboard div:nth-child(4) {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  margin: 3px 0 15px 0;
  padding: 10px 0;
  color: #3264a7;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  background-color: #aaa9a952;
}

.info {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 0 0 5px 5px;
  font-size: 2rem;
}

.description, .resultInfo {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 10px 0 0 10px;
  font-size: 1.4rem;
}

@media (orientation: landscape) and (min-width: 532px) {
  .scoreboard div:nth-child(1) {
    -ms-flex-preferred-size: 24%;
        flex-basis: 24%;
    font-size: 1.6rem;
    margin: 0 0 5px 0;
    padding: 5px 0;
  }
  .scoreboard div:nth-child(3) {
    -ms-flex-preferred-size: 24%;
        flex-basis: 24%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: 1.6rem;
    margin: 0 0 5px 0;
    padding: 5px 0;
  }
  .scoreboard div:nth-child(2) {
    -ms-flex-preferred-size: 24%;
        flex-basis: 24%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    font-size: 1.6rem;
    margin: 0 0 5px 0;
    padding: 5px 0;
  }
  .scoreboard div:nth-child(4) {
    -ms-flex-preferred-size: 24%;
        flex-basis: 24%;
    font-size: 1.6rem;
    margin: 0 0 5px 0;
    padding: 5px 0;
  }
  .info {
    font-size: 1.6rem;
  }
  .description, .resultInfo {
    padding: 5px 0 0 5px;
    font-size: 1.2rem;
  }
}

@media (orientation: landscape) and (min-width: 637px) {
  .scoreboard div:nth-child(1), .scoreboard div:nth-child(2), .scoreboard div:nth-child(3), .scoreboard div:nth-child(4) {
    font-size: 1.8rem;
  }
  .info {
    font-size: 1.8rem;
  }
  .description, .resultInfo {
    font-size: 1.4rem;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  max-width: 638px;
  height: 25px;
  background-color: #3264a7;
}

.copyright {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  height: 100%;
}

.copyright p {
  font-size: 1rem;
  line-height: 25px;
  color: #fff;
  text-align: center;
}

.technologies {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 10px;
  height: 100%;
  font-size: 1.3rem;
  color: #fff;
  text-align: right;
  line-height: 25px;
}

.technologies i {
  padding: 0 5px;
}

.technologies i:hover {
  color: #9fdff8;
}

@media (orientation: landscape) and (min-width: 532px) {
  .footer {
    height: 25px;
  }
  .footer .copyright p {
    line-height: 25px;
    font-size: 1.1rem;
  }
  .footer .technologies {
    line-height: 25px;
    font-size: 1.4rem;
  }
}

@media (orientation: portrait) and (min-width: 383px) {
  .footer {
    height: 35px;
  }
  .footer .copyright p {
    font-size: 1.3rem;
    line-height: 35px;
  }
  .footer .technologies {
    font-size: 1.6rem;
    line-height: 35px;
  }
}

@media (orientation: landscape) and (min-width: 637px) {
  .footer {
    height: 40px;
  }
  .footer .copyright p {
    font-size: 1.5rem;
    line-height: 40px;
  }
  .footer .technologies {
    font-size: 1.8rem;
    line-height: 40px;
  }
}

@media (orientation: landscape) and (min-width: 637px) and (min-height: 359px) {
  .footer {
    height: 25px;
  }
  .footer .copyright p {
    font-size: 1.2rem;
    line-height: 25px;
  }
  .footer .technologies {
    font-size: 1.4rem;
    line-height: 25px;
  }
}
/*# sourceMappingURL=style.css.map */