.footer
    +boxFlex(row, 100%)
    position: absolute
    left: 0
    right: 0
    bottom: 0
    margin: 0 auto
    max-width: 638px
    height: $sizeFooter
    background-color: #3264a7

.copyright
    flex-grow: 2
    height: 100%
    p
        font-size: 1rem
        line-height: $sizeFooter
        color: #fff
        text-align: center

.technologies
    flex-grow: 1
    padding-right: 10px
    height: 100%
    font-size: 1.3rem
    color: #fff
    text-align: right 
    line-height: $sizeFooter
    i
        padding: 0 5px
    i:hover
        color: #9fdff8


@media (orientation: landscape) and (min-width: 532px)
    .footer
        height: $sizeFooter
        .copyright
            p
                line-height: $sizeFooter
                font-size: 1.1rem
        .technologies
            line-height: $sizeFooter
            font-size: 1.4rem

@media (orientation: portrait) and (min-width: 383px)
    .footer
        height: $sizeFooter + 10px
        .copyright
            p
                font-size: 1.3rem
                line-height: $sizeFooter + 10px
        .technologies
            font-size: 1.6rem
            line-height: $sizeFooter + 10px

@media (orientation: landscape) and (min-width: 637px)
    .footer
        height: $sizeFooter + 15px
        .copyright
            p
                font-size: 1.5rem
                line-height: $sizeFooter + 15px
        .technologies
            font-size: 1.8rem
            line-height: $sizeFooter + 15px

@media (orientation: landscape) and (min-width: 637px) and (min-height: 359px)
    .footer
        height: $sizeFooter
        .copyright
            p
                font-size: 1.2rem
                line-height: $sizeFooter
        .technologies
            font-size: 1.4rem
            line-height: $sizeFooter

@media (min-width: 641px)
    .footer
        height: $sizeFooter + 15px
        .copyright
            p
                font-size: 1.5rem
                line-height: $sizeFooter + 15px
        .technologies
            font-size: 1.8rem
            line-height: $sizeFooter + 15px

@media (min-height: 374px)
    .footer
        height: $sizeFooter
        .copyright
            p
                font-size: 1.2rem
                line-height: $sizeFooter
        .technologies
            font-size: 1.3rem
            line-height: $sizeFooter