.heading
    +boxFlex(row, 100%)
    padding-top: 15px
    text-align: center
    .userH1, .cpuH1, .playButton
        flex-basis: 33%
        h1
            +sizeH1()

.gameArea
    +boxFlex(row, 100%)

.userChoice
    flex-basis: 33%
    text-align: center
    h1
        +sizeH1()
    i
        padding: 5px

.paper, .rock, .scisors
    +userOption()

.paper:hover, .rock:hover, .scisors:hover
    color: #ccc

.play
    flex-basis: 33%
    align-self: center
    text-align: center
    button
        padding: 10px 0
        width: 90%
        max-width: 200px
        background-color: #76a1bd
        font-size: 2rem
        text-transform: uppercase
        letter-spacing: 2px
        color: #000
        border: 1px solid #000
        transition: .4s
    button:hover
        color: #fff
        border-color: #fff
        letter-spacing: 3px
        cursor: pointer

.cpuChoice
    flex-basis: 33%
    align-self: center
    text-align: center
    h1
        +sizeH1()
    
.cpuRandom
    +userOption()
    i
        padding: 5px

.cpuRandom:hover
    color: #ccc

.activeOptions
    box-shadow: 0 0 3px 3px #0092f3